<!doctype html>
<html>
<head>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">

    <!--suppress HtmlUnknownTarget -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='seva.css') }}"/>
    <!--suppress HtmlUnknownTarget -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

    <div class="container">

        <div class="hero-unit">
            <h1>
                <a href="https://github.com/wmzaru/sevabot-rus">Sevabot-rus</a>
            </h1>

            <p>Сервис скайп бота к вашиму слугам.</p>

        </div>

        <h2>Статус</h2>

        <div class="alert alert-success">Sevabot-Rus запущен</div>

        <h2>Документация</h2>

        <p>
            Посетите
            <a href="https://github.com/wmzaru/sevabot-rus">Sevabot-rus</a>
            старницу проекта для интересующей вас информации.
        </p>

        <h2>Админ</h2>

        <h3>Список чатов</h3>

        <p>Введите секретный код для списка чата из <i>settings.py</i> файла установленный в настройках бота
         </p>

        <form action="http://{{ host }}:{{ port }}/chats/" method="POST" class="form-horizontal">

            <div class="control-group">
                <label class="control-label" for="secret">Секретный код</label>
                <div class="controls">
                    <input type="password" name="secret" id="secret" placeholder="Смотреть в settings.py"></div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">Смотреть список чатов</button>
                </div>
            </div>
        </form>

    </div>
</body>
